//- 
    =====================================================================
    * Blog Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends layouts/master

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title About Page - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BLOG POST ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.flatted-all

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ COVER & TITLE ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.jumbotron(style="background-image: url('dummy-images/about/cover.jpg');")
            .container
                h1.heading
                    | We are a <strong>friendly</strong> and <strong>warm</strong> company.
                p.normal 
                    | We work professionally, we think our partner's business above all else.

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ ABOUT POST ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    .content.white-background.caret-down.caret-white.shrunk-all
        .narrow
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST CONTENT ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            p.lead.centered 
                | Proactively envisioned <strong>multimedia based expertise</strong>&nbsp; and cross-media growth strategies.

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ ABOUT POST ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.narrow
        h2.section.heading About Us
        p
            | European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish priapumfish mosshead warbonnet. Efficiently unleash cross-media information without cross-media value european <a href=''>minnow priapumfish</a>&nbsp; mosshead collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence revolutionary ROI.

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ SKILL ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.covered
        .narrow
            h2.section.heading Our Skill
            p
                | Our skill are vary, from web development to brand consulting. we confident with high skill and standard we have could help you easily. We are a team of designers, communicators, storytellers and strategists, passionate about social change. Sound like you?
            .skill.bars
                .bar.holder.wow.fadeInUp
                    .label Web Development
                    .progress(style='width: 90%;')
                .bar.holder.wow.fadeInUp
                    .label Illustration
                    .progress(style='width: 97%;')
                .bar.holder.wow.fadeInUp
                    .label App Design
                    .progress(style='width: 80%;')
                .bar.holder.wow.fadeInUp
                    .label Brand Consulting
                    .progress(style='width: 75%;')

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ TESTIMONIAL ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.invert-background.image-covered.shrunk-all(style='background-image: url("dummy-images/about/w-b2.jpg");')
        .wide
            h2.section.heading What People Say About Us
            blockquote 
                p.centered
                    | "DigBoots really stand-out among our partners. They work excelently, their work is top-notch. One of the best we've worked with in the past 10 years."
                    cite.name
                        | John William Smith - <strong>Company.co</strong> 

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ CLIENTS ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.white-background
        .narrow
            h2.section.heading Our Clients &amp; Partners
            p
                | We're lucky enough to work with some amazing organisations. Here are a few of our favourites:
            .client.list.centered.wow.fadeInUp
                ul.client-slides
                    li
                        a(href="")
                            img(src="dummy-images/clients/1.png", alt="1")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/2.png", alt="2")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/3.png", alt="3")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/4.png", alt="4")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/5.png", alt="5")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/6.png", alt="6")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/7.png", alt="7")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/1.png", alt="8")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/2.png", alt="9")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/3.png", alt="10")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/4.png", alt="11")
                    li 
                        a(href="")
                            img(src="dummy-images/clients/5.png", alt="12")
                    

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ WORKPLACE GALLERY ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.workspace.gallery
        header
            h2.gallery.post.title
                a(href='') our workspace
        .items
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ WORKPLACE ITEM ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.gallery.item.one-third.wow.fadeInUp
                header.caption
                    h3.title
                        a(href="") Meeting Spot
                        span.separator
                img(src='dummy-images/workspace/1.jpg', alt='portfolio 1')
                a(href="").goto 
                    i.fa.fa-link

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ WORKPLACE ITEM ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.gallery.item.one-third.wow.fadeInUp
                header.caption
                    h3.title
                        a(href="") CEO Desk
                        span.separator
                img(src='dummy-images/workspace/2.jpg', alt='portfolio 1')
                a(href="").goto 
                    i.fa.fa-link

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ WORKPLACE ITEM ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.gallery.item.one-third.wow.fadeInUp
                header.caption
                    h3.title
                        a(href="") Outdoor Spot
                        span.separator
                img(src='dummy-images/workspace/3.jpg', alt='portfolio 1')
                a(href="").goto 
                    i.fa.fa-link

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ WORKPLACE ITEM ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.gallery.item.one-third.wow.fadeInUp
                header.caption
                    h3.title
                        a(href="") Jake's Favorite Spot
                        span.separator
                img(src='dummy-images/workspace/4.jpg', alt='portfolio 1')
                a(href="").goto 
                    i.fa.fa-link

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ WORKPLACE ITEM ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.gallery.item.one-third.wow.fadeInUp
                header.caption
                    h3.title
                        a(href="") John's Favorite Spot
                        span.separator
                img(src='dummy-images/workspace/5.jpg', alt='portfolio 1')
                a(href="").goto 
                    i.fa.fa-link

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ WORKPLACE ITEM ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.gallery.item.one-third.wow.fadeInUp
                header.caption
                    h3.title
                        a(href="") Our Lovely Office
                        span.separator
                img(src='dummy-images/workspace/6.jpg', alt='portfolio 1')
                a(href="").goto 
                    i.fa.fa-link

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BANNER ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.invert-background.image-covered.shrunk-all(style='background-image: url("dummy-images/about/w-b1.jpg");')
        .post.narrow
            h2.heading.centered.wow.bounceInDown Work With Us and Let Us Help You.
            p.centered
                a(href='').btn.btn-primary.wow.bounceInUp
                    | Get in Touch