//- 
    =====================================================================
    * Blog Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends layouts/content-container

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title About Page - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BLOG POST ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.flatted-up.flatted-down

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ COVER & TITLE ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.jumbotron(style="background-image: url('dummy-images/about/cover.jpg');")
            //- .cover.overlay.blue

            .container
                h1
                    | We are a <strong>friendly</strong> and <strong>warm</strong> team.
                p.normal 
                    | We work professionally, we think our partner's business above all else.

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ NAV ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        //- nav.gallery.filter.light.centered
            a(href="") All
            a(href="") Web Design
            a(href="") Illustration
            a(href="") UI Design


        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ ABOUT POST ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .content.post.narrow.shrunk-down
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST CONTENT ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            p.lead.centered 
                | Proactively envisioned <strong>multimedia based expertise</strong>&nbsp; and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.
            p
                | European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish priapumfish mosshead warbonnet. Efficiently unleash cross-media information without cross-media value european <a href=''>minnow priapumfish</a>&nbsp; mosshead collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence revolutionary ROI.

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ SKILL ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    article.content.post.covered.shrunk-up
        .narrow
            h2.section.heading Our Skill
            p
                | Our skill are vary, from web development to brand consulting. we confident with high skill and standard we have could help you easily. We are a team of designers, communicators, storytellers and strategists, passionate about social change. Sound like you?
            .skill.bars
                .bar.holder.appear.fade-in
                    .label Web Development
                    .progress.appear.move-right(style='width: 90%;')
                .bar.holder.appear.fade-in
                    .label Illustration
                    .progress.appear.move-right(style='width: 97%;')
                .bar.holder.appear.fade-in
                    .label App Design
                    .progress.appear.move-right(style='width: 80%;')
                .bar.holder.appear.fade-in
                    .label Brand Consulting
                    .progress.appear.move-right(style='width: 75%;')

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ TESTIMONIAL ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.w-background.shrunk-up.shrunk-down(style='background: url("dummy-images/about/w-b2.jpg") no-repeat center center; background-size: cover; background-attachment: fixed;')
        .medium
            h2.section.heading What People Say About Us
            blockquote 
                p
                    | "DigBoots really stand-out among our partners. They work excelently, their work is top-notch. One of the best we've worked with in the past 10 years."
                    cite.name
                        | John William Smith - <strong>Company.co</strong> 

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ CLients ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.post.narrow
        h2.section.heading Our Clients &amp; Partners
        p
            | We're lucky enough to work with some amazing organisations. Here are a few of our favourites:
        .client.list.centered.appear.fade-in
            ul.client-slides
                li
                    a(href="")
                        img(src="dummy-images/clients/1.png", alt="1")
                li 
                    a(href="")
                        img(src="dummy-images/clients/2.png", alt="2")
                li 
                    a(href="")
                        img(src="dummy-images/clients/3.png", alt="3")
                li 
                    a(href="")
                        img(src="dummy-images/clients/4.png", alt="4")
                li 
                    a(href="")
                        img(src="dummy-images/clients/5.png", alt="5")
                li 
                    a(href="")
                        img(src="dummy-images/clients/6.png", alt="6")
                li 
                    a(href="")
                        img(src="dummy-images/clients/7.png", alt="7")
                li 
                    a(href="")
                        img(src="dummy-images/clients/1.png", alt="8")
                li 
                    a(href="")
                        img(src="dummy-images/clients/2.png", alt="9")
                li 
                    a(href="")
                        img(src="dummy-images/clients/3.png", alt="10")
                li 
                    a(href="")
                        img(src="dummy-images/clients/4.png", alt="11")
                li 
                    a(href="")
                        img(src="dummy-images/clients/5.png", alt="12")
                    

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ WORKPLACE GALLERY ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.workspace.gallery
        header
            h2.gallery.post.title
                a(href='') our workspace

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.gallery.item.one-third.appear.fade-in
            header.caption
                h3.title
                    a(href="") Meeting Spot
                    span.separator
            img(src='dummy-images/workspace/1.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.gallery.item.one-third.appear.fade-in
            header.caption
                h3.title
                    a(href="") CEO Desk
                    span.separator
            img(src='dummy-images/workspace/2.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.gallery.item.one-third.appear.fade-in
            header.caption
                h3.title
                    a(href="") Outdoor Spot
                    span.separator
            img(src='dummy-images/workspace/3.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.gallery.item.one-third.appear.fade-in
            header.caption
                h3.title
                    a(href="") Jake's Favorite Spot
                    span.separator
            img(src='dummy-images/workspace/4.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.gallery.item.one-third.appear.fade-in
            header.caption
                h3.title
                    a(href="") John's Favorite Spot
                    span.separator
            img(src='dummy-images/workspace/5.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.gallery.item.one-third.appear.fade-in
            header.caption
                h3.title
                    a(href="") Our Lovely Office
                    span.separator
            img(src='dummy-images/workspace/6.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BANNER ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.w-background.shrunk-up.shrunk-down(style='background: url("dummy-images/about/w-b1.jpg") no-repeat center center; background-size: cover; background-attachment: fixed;')
        .post.narrow
            h2.centered.appear.move-bottom Work With Us and Let Us Help You.
            p.centered
                a(href='').btn.btn-primary.btn-lg.btn-cta.appear.move-top
                    | Get in Touch