//- 
    =====================================================================
    * Blog Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends layouts/content-container

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title Blog Page - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content
    
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BLOG POST ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.shrunk-up.shrunk-down
        
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ BREADCRUMBS & HEADING ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.narrow

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ BREADCRUMBS ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            ol.breadcrumb
                li 
                    a(href='') Home
                li.active 
                    a(href='') Blog

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ SECTION/PAGE HEADING ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            header
                h1.section.heading Blog

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ POSTS ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.narrow

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM - FEATURED/STICKY POST ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-standard
                header
                    .post.format.centered
                        i.fa.fa-bookmark-o
                    h2.featured.title.centered 
                        a(href='') The new chapter, a new Beginning.
                .post.meta.centered
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post.centered
                .entry-content
                    img(src='dummy-images/blog/7.jpg')
                    p
                        | European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish priapumfish mosshead warbonnet. Efficiently unleash cross-media information without cross-media value european <a href=''>minnow priapumfish</a>.
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more

            .separator.vertically.widen.centered

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM IMAGE]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-image
                header
                    .post.format
                        i.fa.fa-picture-o
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    img(src='dummy-images/blog/4.jpg')
                    span.caption Climb leg rub face on everything give attitude nap all day
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM STANDARD]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-standard
                header
                    .post.format
                        i.fa.fa-file-o
                    h2.blog.list.title
                        a(href='')
                            | Post Standard Lorem Ipsum is dummy text.
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    p 
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more

            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM QUOTE]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-quote
                header
                    .post.format
                        i.fa.fa-quote-right
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    blockquote 
                        p
                            | "Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains."
                            cite.name
                                | John William Smith - <strong>Company.co</strong> 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM AUDIO]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-audio
                header
                    .post.format
                        i.fa.fa-music
                    h2.blog.list.title
                        a(href='')
                            | No Use For A Name: Feels Like Home.
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    iframe(width="100%",height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/55092730") 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM VIDEO]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-video
                header
                    .post.format
                        i.fa.fa-video-camera
                    h2.blog.list.title
                        a(href='')
                            | Mac 'n' Cheese
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    p.fitvids
                        iframe(src="//player.vimeo.com/video/27127177", width="500", height="281", frameborder="0",webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
                        p
                            a(href="http://vimeo.com/27127177")
                                | Mac 'n' Cheese</a> from <a href="http://vimeo.com/macncheese">Mac &#039;N&#039; Cheese</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM LINK]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-link
                header
                    .post.format
                        i.fa.fa-link
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    a(href="") 
                        | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM GALLERY]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-gallery
                header
                    .post.format
                        i.fa.fa-camera
                    h2.blog.list.title
                        a(href='')
                            | Post Gallery Sections 1.10.32.
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    img(src='dummy-images/blog/7.jpg')
                    p 
                        | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM STATUS]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-status
                header
                    .post.format
                        i.fa.fa-pencil
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    p 
                        | Status format post of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ASIDE]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-aside
                header
                    .post.format
                        i.fa.fa-list
                    h2.blog.list.title
                        a(href='')
                            | Post Aside Cicero are also reproduced in their exact original form.
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    p 
                        | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM CHAT]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.format-chat
                header
                    .post.format
                        i.fa.fa-comments
                    h2.blog.list.title
                        a(href='')
                            | Post Format Chat.
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                .entry-content
                    p Abbott: Strange as it may seem, they give ball players nowadays very peculiar names.
                    p Costello: Funny names?
                    p Abbott: Nicknames, nicknames. Now, on the St. Louis team we have Who’s on first, What’s on second, I Don’t Know is on third–
                    p Costello: That’s what I want to find out. I want you to tell me the names of the fellows on the St. Louis team.
                    p Abbott: I’m telling you. Who’s on first, What’s on second, I Don’t Know is on third–
                    p Costello: You know the fellows’ names?
                    p Abbott: Yes.
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more