//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends inc/content-container

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title DigBoots - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ JUMBOTRON ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    article.jumbotron
        .cover.overlay.lighter
            .container
                p Case Study
                h1
                    | Fun Work at <strong>Company.co</strong>
                p
                    a(href='').btn.btn-primary.btn-lg.btn-cta
                        | Learn more

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ ABOUT US ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    article.content.post.about.featured.narrow
        img(src='dummy-images/about/1.png')
        h2.featured.title 
            | We Work and Play. We Love This Job.
        .separator.in-post.centered
        p
            | <strong>DigBoots</strong>&nbsp; is a fast-growing company, we started as a simple <a href="">two-man team</a>. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables. Drop in axle roll-in rail slide noseblunt. 
        p
            a(href='').btn.btn-link.btn-sm
                | More About Us

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ PORTFOLIO ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.portfolio.image
        header
            h2.image.post.title
                a(href='') Recent Works

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail
            a(href='')
                img(src='dummy-images/portfolio/1.jpg', alt='portfolio 1')
                span.caption
                    | Cheers!
                    span.separator
                    span.client
                        | Personal Project

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail
            a(href='')
                img(src='dummy-images/portfolio/2.jpg', alt='portfolio 1')
                span.caption
                    | Little Flash
                    span.separator
                    span.client
                        | Personal Project

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail
            a(href='')
                img(src='dummy-images/portfolio/3.jpg', alt='portfolio 1')
                span.caption
                    | EXPOSÉ10 features on 'Cheers!'
                    span.separator
                    span.client
                        | EXPOSÉ10

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail
            a(href='')
                img(src='dummy-images/portfolio/4.jpg', alt='portfolio 1')
                span.caption
                    | Paris Project
                    span.separator
                    span.client
                        | Personal Project

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ TESTIMONIAL & SERVICES ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    .section(style='background: url("dummy-images/service-bg.jpg") no-repeat center center; background-size: cover;')
        .cover.overlay
            
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ TESTIMONIAL ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article.content.testimonial.narrow.shrunk-down
                h2.section.heading What People Say About Us
                blockquote 
                    p
                        | "DigBoots really stand-out among our partners. They work excelently, their work is top-notch. One of the best we've worked with in the past 10 years."
                        cite.name
                            | John William Smith - <strong>Company.co</strong> 
                p
                    | That's what some of our friends, colleagues and partners says about us. Come visit us to know more about us. in a meantime here are some works <strong>we can do for you</strong> : 

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ SERVICES ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            section.cover.overlay
                .container.content.services.medium.shrunk-up
                    .row
                        h2.section.heading Our Services

                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        // [ SERVICES ITEM ]
                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                            h3.related.title Illustration
                            p
                                | We transform your wish into clear ideas and hand-sketched illustrations.
                            a(href='').btn.btn-link.btn-sm
                                | learn more

                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        // [ SERVICES ITEM ]
                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                            h3.related.title Web Design
                            p
                                | High quality pixel-perfect hand-coded web page design will be delivered to you.
                            a(href='').btn.btn-link.btn-sm
                                | learn more

                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        // [ SERVICES ITEM ]
                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                            h3.related.title App Design
                            p
                                | Pixel-perfect app design is one of our obsession, we always keep that in mind.
                            a(href='').btn.btn-link.btn-sm
                                | learn more

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ FEATURED BLOG POST ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    article.content.post.featured.narrow.shrunk-down
        h2.section.heading Recent Posts
        aside.post.meta
            span.post.date
                | 12 January 2013
        h3.featured.title
            a(href='')
                | Drop in axle roll-in rail slide climb leg.
        .separator.in-post.centered
        img(src='dummy-images/blog/1.jpg')
        p
            | European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish priapumfish mosshead warbonnet. Efficiently unleash cross-media information without cross-media value european minnow priapumfish mosshead.
        p
            a(href='').btn.btn-link.btn-sm
                | Read more

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ OTHER BLOG POSTS ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    aside.content.post.flatted-up.medium
        .container
            .row

                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST ITEM ]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                    h4.related.title
                        a(href='')
                            | European minnow priapumfish cross-media. 
                    aside.post.meta
                        span.post.date
                            | 12 January 2013
                    p
                        | Efficiently unleash cross-media information without cross-media value.
                    a(href='').btn.btn-link.btn-sm
                        | read more

                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST ITEM ]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                    h4.related.title
                        a(href='')
                            | Mosshead warbonnet shrimpfish bigscale.
                    aside.post.meta
                        span.post.date
                            | 12 January 2013
                    p
                        | European minnow priapumfish mosshead warbonnet shrimpfish bigscale.
                    a(href='').btn.btn-link.btn-sm
                        | read more

                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST ITEM ]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                    h4.related.title
                        a(href='')
                            | Climb leg rub face on everything.
                    aside.post.meta
                        span.post.date
                            | 12 January 2013
                    p
                        | Drop in axle roll-in rail slide noseblunt slide Steve Severin impossible.
                    a(href='').btn.btn-link.btn-sm
                        | read more

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ WORKPLACE GALLERY ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.workspace.image
        header
            h2.image.post.title
                a(href='') our workspace

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail.small
            a(href='')
                img(src='dummy-images/workspace/1.jpg', alt='portfolio 1')
                span.caption
                    | Meeting Spot
                    span.separator

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail.small
            a(href='')
                img(src='dummy-images/workspace/2.jpg', alt='portfolio 1')
                span.caption
                    | CEO Desk
                    span.separator

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail.small
            a(href='')
                img(src='dummy-images/workspace/3.jpg', alt='portfolio 1')
                span.caption
                    | Outdoor Spot
                    span.separator

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail.small
            a(href='')
                img(src='dummy-images/workspace/4.jpg', alt='portfolio 1')
                span.caption
                    | Jake's Favorite Spot
                    span.separator

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail.small
            a(href='')
                img(src='dummy-images/workspace/5.jpg', alt='portfolio 1')
                span.caption
                    | John's Favorite Spot
                    span.separator

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WORKPLACE ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .image.thumbnail.small
            a(href='')
                img(src='dummy-images/workspace/6.jpg', alt='portfolio 1')
                span.caption
                    | Our Lovely Office
                    span.separator

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // FOOTER
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    include inc/footer