//- 
    =====================================================================
    * Blog Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends layouts/content-container

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title Portfolio Page - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ PORTFOLIO FILTER]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nav.image.filter
        a(href="") All
        a(href="") Web Design
        a(href="") Illustration
        a(href="") UI Design


    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ PORTFOLIO ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.portfolio.image
        header
            h1.image.post.title
                a(href='') All Works

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title 
                    a(href="") Cheers!
                span.separator
                span.client Personal Project
            img(src='dummy-images/portfolio/1.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title 
                    a(href="") Little Flash
                span.separator
                span.client Personal Project
            img(src='dummy-images/portfolio/2.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") EXPOSÉ10 features on 'Cheers!'
                span.separator
                span.client EXPOSÉ10
            img(src='dummy-images/portfolio/3.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") Paris Project
                span.separator
                span.client Personal Project
            img(src='dummy-images/portfolio/4.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") Little Flash
                span.separator
                span.client Personal Project
            img(src='dummy-images/portfolio/5.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") EXPOSÉ10 features on 'Cheers!'
                span.separator
                span.client EXPOSÉ10
            img(src='dummy-images/portfolio/6.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link 

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") Cheers!
                span.separator
                span.client Personal Project
            img(src='dummy-images/portfolio/7.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link
                
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") Little Flash
                span.separator
                span.client Personal Project
            img(src='dummy-images/portfolio/8.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link    

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") EXPOSÉ10 features on 'Cheers!'
                span.separator
                span.client EXPOSÉ10
            img(src='dummy-images/portfolio/9.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link 

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") Paris Project
                span.separator
                span.client Personal Project
            img(src='dummy-images/portfolio/10.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link
                
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") Little Flash
                span.separator
                span.client Personal Project
            img(src='dummy-images/portfolio/11.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link
                
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ PORTFOLIO ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.image.thumbnail.one-third
            header.caption
                h3.title
                    a(href="") EXPOSÉ10 features on 'Cheers!'
                span.separator
                span.client EXPOSÉ10
            img(src='dummy-images/portfolio/12.jpg', alt='portfolio 1')
            a(href="").goto 
                i.fa.fa-link