//- 
    =====================================================================
    * Blog Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends layouts/master

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title Service Page - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BLOG POST ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.flatted-up.flatted-down

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ COVER & TITLE ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.jumbotron(style="background-image: url('dummy-images/services/cover.jpg');")
            //- .cover.overlay.blue

            .container
                h1
                    | <strong>Creative</strong> Jack of All Trades 
                p.normal 
                    | With the vast knowledges and skills, we could work on almost everything.

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ NAV ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        //- nav.gallery.filter.light.centered
            a(href="") All
            a(href="") Web Design
            a(href="") Illustration
            a(href="") UI Design


        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ SERVICES ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .content.post.narrow.shrunk-down
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST CONTENT ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            p.lead.centered 
                | Proactively envisioned <strong>multimedia based expertise</strong>&nbsp; and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.
            .container
                .row
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-6.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.centered.appear.move-top
                        .diamond.icon.med.centered
                            i.fa.fa-file-o
                        h3.related.title.centered Illustration
                        p
                            | We transform your wish into clear ideas and hand-sketched illustrations. We transform your wish into clear ideas and hand-sketched illustrations.

                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-6.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.centered.appear.move-top
                        .diamond.icon.med.centered
                            i.fa.fa-html5
                        h3.related.title.centered Web Design
                        p
                            | High quality pixel-perfect hand-coded web page design will be delivered to you. High quality pixel-perfect hand-coded web page design will be delivered to you.

                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-6.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-ul-offset-3.col-xl-offset-3.col-xl-offset-3.col-md-offset-3.centered.appear.move-top
                        .diamond.icon.med.centered
                            i.fa.fa-mobile
                        h3.related.title.centered App Design
                        p
                            | Pixel-perfect app design is one of our obsession, we always keep that in mind. Pixel-perfect app design is one of our obsession, we always keep that in mind.


    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ SKILL ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    article.content.post.covered.shrunk-up
        .narrow
            h2.section.heading Industries Served
            p
                | We have worked and served many industries for the past 10 years. We proud as one of a few agencies in the world who could actually act as a creative jack-of-all-trades.
            .skill.bars
                .bar.holder.appear.fade-in
                    .label Online Commerce
                    .progress.appear.move-right(style='width: 90%;')
                .bar.holder.appear.fade-in
                    .label Art Commerce
                    .progress.appear.move-right(style='width: 97%;')
                .bar.holder.appear.fade-in
                    .label Publishing
                    .progress.appear.move-right(style='width: 80%;')
                .bar.holder.appear.fade-in
                    .label Technology
                    .progress.appear.move-right(style='width: 75%;')
                .bar.holder.appear.fade-in
                    .label Travel
                    .progress.appear.move-right(style='width: 70%;')
                .bar.holder.appear.fade-in
                    .label Financial
                    .progress.appear.move-right(style='width: 65%;')
                .bar.holder.appear.fade-in
                    .label Education
                    .progress.appear.move-right(style='width: 40%;')
                .bar.holder.appear.fade-in
                    .label Government
                    .progress.appear.move-right(style='width: 35%;')

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ TESTIMONIAL ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.w-background.shrunk-up.shrunk-down(style='background: url("dummy-images/about/w-b2.jpg") no-repeat center center; background-size: cover; background-attachment: fixed;')
        .cover.overlay
            .container.services.content.wide.shrunk-down.shrunk-up
                .row
                    h2.section.heading More About Our Services
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.appear.move-top
                        .diamond.icon.white.med.centered
                            i.fa.fa-inbox
                        h3.related.title.centered High Quality Deliverables
                        p
                            | We transform your wish into clear ideas and hand-sketched illustrations.

                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.appear.move-top
                        .diamond.icon.white.med.centered
                            i.fa.fa-comments-o
                        h3.related.title.centered Intensive Consultations
                        p
                            | High quality pixel-perfect hand-coded web page design will be delivered to you.

                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.appear.move-top
                        .diamond.icon.white.med.centered
                            i.fa.fa-check-square-o
                        h3.related.title.centered Great Project Management
                        p
                            | Pixel-perfect app design is one of our obsession, we always keep that in mind.
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.appear.move-top
                        .diamond.icon.white.med.centered
                            i.fa.fa-laptop
                        h3.related.title.centered Well-illustrated Process
                        p
                            | We transform your wish into clear ideas and hand-sketched illustrations.

                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.appear.move-top
                        .diamond.icon.white.med.centered
                            i.fa.fa-calendar-o
                        h3.related.title.centered On-time Scheduling 
                        p
                            | High quality pixel-perfect hand-coded web page design will be delivered to you.

                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ SERVICES ITEM ]
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.appear.move-top
                        .diamond.icon.white.med.centered
                            i.fa.fa-angle-double-right
                        h3.related.title.centered Fast Execution
                        p
                            | Pixel-perfect app design is one of our obsession, we always keep that in mind.

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ CONTACT ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.shrunk-up.shrunk-down
        .post.narrow
            h2.section.heading
                | Want to work with us?
            p.centered
                | Are you working on something great? We'd love to help make it happen.
                a(href='').btn.btn-link.btn-cta.dark.btn-sm
                        | Get in touch now