//- 
    =====================================================================
    * Single Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends inc/content-container

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title Single Page - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content
    
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BLOG POST ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.shrunk-up.flatted-down

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ BREADCRUMBS & HEADING ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.narrow

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ BREADCRUMBS ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            ol.breadcrumb
                li 
                    a(href='') Home
                li.active 
                    a(href='') Blog
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ POST ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.medium

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ THE POST ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article

                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST FORMAT ICON ]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                .post.format.centered
                    i.fa.fa-bookmark-o

                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST TITLE ]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                h1.centered European minnow priapumfish mosshead warbonnet shrimpfish bigscale.

                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST META - author, date and comment link]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                aside.post.meta.centered
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                    | &nbsp;.&nbsp;&nbsp;
                    a(href='')
                        | Add Comment&nbsp;

                .separator.in-post.centered
                
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST CONTENT ]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                p.lead 
                    | Proactively envisioned <strong>multimedia based expertise</strong>&nbsp; and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.
                p
                    | European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish priapumfish mosshead warbonnet. Efficiently unleash cross-media information without cross-media value european <a href=''>minnow priapumfish</a>&nbsp; mosshead collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                img(src='dummy-images/blog/2.jpg')
                span.caption Dynamically procrastinate B2C users after installed base benefits.
                p
                    | Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
                blockquote 
                    p
                        | "Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains."
                        cite.name
                            | John William Smith - <strong>Company.co</strong> 
                p
                    | Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
                p
                    | Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                p
                    | Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.

                .separator

                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST META BOTTOM ]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                aside.container.post
                    .row
                        .col-ul-8.col-xl-8.col-lg-8.col-md-8.col-sm-12.col-xs-12

                            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            // [ POST META AUTHOR ]
                            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            .post.meta
                                .post.author.descriptive
                                    h2.related.title About John William Doe
                                    .avatar.small
                                        img(src='dummy-images/blog/avatar.jpg')
                                    p
                                        | Banjo Banksy slow-carb Thundercats fingerstache hella. Wes Anderson Truffaut letterpress 8-bit, readymade retro butcher. IPhone artisan actually, Schlitz literally chambray tousled Thundercats ethnic single-origin coffee viral before they sold out Marfa. 
                        .col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12

                            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            // [ POST META CATEGORIES & TAGS ]
                            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            .post.meta 
                                .post.taxonomy
                                    h2.related.title Posted in : 

                                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    // [ POST CATEGORIES ]
                                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    .post.categories
                                        i.fa.fa-circle-o &nbsp;
                                        .items
                                            a(href="") Uncategorized
                                            a(href="") Company

                                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    // [ POST TAGS ]
                                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     
                                    .post.tags
                                        i.fa.fa-tags &nbsp;
                                        .items
                                            a(href="") case study
                                            a(href="") company
                                            a(href="") digboots

                .separator
            
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ POST COMMENTS SECTION ]
                //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                section.container.post.covered
                    h2.section.heading.narrow
                        | 12 comments on this post
                    .wide 

                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        // [ COMMENT ITEM ]
                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        article.post.comment 
                            .avatar.small
                                img(src='dummy-images/blog/avatar2.jpg')
                            .post.comment.content
                                h3.comment.title
                                    a(href='') Jane Roe
                                p 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                aside.post.meta
                                    span.post.date
                                        | 12 January 2013
                                    | &nbsp;.&nbsp;&nbsp;
                                    a(href='')
                                        | Reply&nbsp;

                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        // [ COMMENT ITEM ]
                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        article.post.comment 
                            .avatar.small
                                img(src='dummy-images/blog/avatar3.jpg')
                            .post.comment.content
                                h3.comment.title Dave Awesome
                                p 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                aside.post.meta
                                    span.post.date
                                        | 12 January 2013
                                    | &nbsp;.&nbsp;&nbsp;
                                    a(href='')
                                        | Reply&nbsp;

                            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            // [ COMMENT ITEM REPLIED ]
                            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            article.post.comment.replied
                                .avatar.small
                                    img(src='dummy-images/blog/avatar2.jpg')
                                .post.comment.content
                                    h3.comment.title Jane Roe
                                    p 
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    aside.post.meta
                                        span.post.date
                                            | 12 January 2013
                                        | &nbsp;.&nbsp;&nbsp;
                                        a(href='')
                                            | Reply&nbsp;

                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        // [ COMMENT ITEM ]
                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        article.post.comment 
                            .avatar.small
                                img(src='dummy-images/blog/avatar.jpg')
                            .post.comment.content
                                h3.comment.title 
                                    a(href='') John William Doe
                                p 
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                aside.post.meta
                                    span.post.date
                                        | 12 January 2013
                                    | &nbsp;.&nbsp;&nbsp;
                                    a(href='')
                                        | Reply&nbsp;
                        .separator

                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        // [ COMMENT FORM ]
                        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        section.post.comment.form
                            h3.comment.title Post a Comment
                            form(action='', role='form')
                                .row 
                                    .col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                        .form-group
                                            label.sr-only(for='commentname')
                                            input.form-control(type='text', id='commentname', placeholder='Your Name')
                                    .col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                        .form-group
                                            label.sr-only(for='commentemail')
                                            input.form-control(type='text', id='commentemail', placeholder='Your Email')
                                    .col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                                        .form-group
                                            label.sr-only(for='commentwebsite')
                                            input.form-control(type='text', id='commentwebsite', placeholder='Your Website')
                                .row 
                                    .col-ul-12.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        .form-group
                                            label.sr-only(for='commentcontent')
                                            textarea.form-control(id='commentcontent', placeholder='Your Name', rows='5')
                                .row 
                                    .col-ul-12.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        button.btn.btn-primary
                                            | Post Comment

            .separator

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ RELATED/OTHER POSTS ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            section
                h2.section.heading.narrow.left-aligned Related Posts
                .row

                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ RELATED/OTHER POSTS ITEM ]
                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                        h3.related.title 
                            a(href='')
                                | European minnow priapumfish
                        .post.meta
                            span.post.date
                                | 12 January 2013

                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ RELATED/OTHER POSTS ITEM ]
                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                        h3.related.title 
                            a(href='')
                                | Mosshead warbonnet shrimpfish bigscale.
                        .post.meta
                            span.post.date
                                | 12 January 2013

                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // [ RELATED/OTHER POSTS ITEM ]
                    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                        h3.related.title 
                            a(href='')
                                | Climb leg rub face on everything.
                        .post.meta
                            span.post.date
                                | 12 January 2013

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // FOOTER
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    include inc/footer