//- 
    =====================================================================
    * Single Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends layouts/master

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title Single Portfolio - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content
    
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BLOG POST ]
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    article.content.flatted-up.flatted-down

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ COVER & TITLE ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.jumbotron(style="background-image: url('dummy-images/portfolio/13.jpg');")
            //- .cover.overlay.blue

            .container
                p 
                    | Illustration
                h1.heading
                    | <strong>Cheers!</strong> Illustration and Design.

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ POST ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .content.post.medium

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST CONTENT ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            h2.centered The Illustration
            hr
            p.lead 
                | Proactively envisioned <strong>multimedia based expertise</strong>&nbsp; and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.
            img(src='dummy-images/portfolio/13.jpg')
            h2.centered Behind The Work
            hr
            p 
                | 3 wolf moon food truck pour-over, plaid Banksy organic pug Godard distillery seitan bitters actually kogi occupy slow-carb.  Meh bitters flexitarian forage, Vice literally iPhone hella Portland.  Sustainable four loko lomo Blue Bottle craft beer fap Odd Future, hashtag jean shorts quinoa.  Mustache craft 
            img(src='dummy-images/portfolio/14.jpg')
            p 
                | 3 wolf moon food truck pour-over, plaid Banksy organic pug Godard distillery seitan bitters actually kogi occupy slow-carb.  Meh bitters flexitarian forage, Vice literally iPhone hella Portland.  Sustainable four loko lomo Blue Bottle craft beer fap Odd Future, hashtag jean shorts quinoa.  Mustache craft beer.
            img(src='dummy-images/portfolio/15.jpg')
            span.caption Dynamically procrastinate B2C users after installed base benefits.
            p 
                | 3 wolf moon food truck pour-over, plaid Banksy organic pug Godard distillery seitan bitters actually kogi occupy slow-carb.  Meh bitters flexitarian forage, Vice literally iPhone hella Portland.  Sustainable four loko lomo Blue Bottle craft beer fap Odd Future, hashtag jean shorts quinoa.  Mustache craft beer.