//- 
    =====================================================================
    * Tag Page
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ EXTENDING CONTENT-CONTAINER LAYOUT PAGE ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
extends layouts/content-container

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ TITLE - used to define html <title> ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block title
    title Tag Page - Premium Boostrap Theme

//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//- [ CONTENT ]
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
block content
    
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ BLOG POST ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    section.content.shrunk-up.shrunk-down

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ BREADCRUMBS & HEADING ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.narrow

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ BREADCRUMBS ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            ol.breadcrumb
                li 
                    a(href='') Home
                li.active 
                    a(href='') Blog

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ SECTION/PAGE HEADING ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            header
                h1.section.heading tag archives: 
                    span sticky
                p.heading-description
                    | Completely synergize resource sucking relationships via premier niche markets.

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ POSTS ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .post.narrow

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-picture-o
                    h2.blog.list.title
                        a(href='')
                            | European minnow priapumfish Drop.
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                img(src='dummy-images/blog/4.jpg')        
                p 
                    | Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet. European minnow priapumfish mosshead warbonnet shrimpfish bigscale efficiently unleash cross-media information without cross-media value.
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-file-o
                    h2.blog.list.title
                        a(href='')
                            | Lorem Ipsum is dummy text.
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                p 
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more

            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-quote-right
                    h2.blog.list.title 
                        a(href='')
                            | Established fact that a reader distracted.
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                p 
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-music
                    h2.blog.list.title
                        a(href='')
                            | Injected humour.
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                p 
                    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-video-camera
                    h2.blog.list.title
                        a(href='')
                            | Richard McClintock, a Latin professor.
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                p 
                    | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-link
                    h2.blog.list.title
                        a(href='')
                            | De Finibus Bonorum.
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                p 
                    | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-pencil
                    h2.blog.list.title
                        a(href='')
                            | The standard chunk of Lorem Ipsum.
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                p 
                    | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-camera
                    h2.blog.list.title
                        a(href='')
                            | Sections 1.10.32.
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                p 
                    | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more
            .separator.vertically.widen

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ POST ITEM ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            article
                header
                    .post.format
                        i.fa.fa-list
                    h2.blog.list.title
                        a(href='')
                            | Cicero are also reproduced in their exact original form.
                    
                .post.meta
                    | By&nbsp;
                    a(href='').post.author
                        | John William Doe&nbsp;
                    | on&nbsp;
                    span.post.date
                        | 12 January 2013
                .separator.in-post
                p 
                    | The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. 
                p.centered
                    a(href='').btn.btn-link.btn-sm
                        | Read more