// -----------------------------------------------------------------
// * [Base Styles]
// * 
// * @project Digboots Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi@aestik.com>
// * @author Pratama H. Salahudin <pratama@aestik.com>
// -----------------------------------------------------------------

body{
    background-color: @default-background;
    float: left;

    position: relative;

    width: 100%;

    margin: 0px;

    color: @body-text-color;
    font-family: @font-1;
    font-size: @body-fz-lg;
    font-weight: 400;
    line-height: 30px;
    text-rendering: optimizeLegibility;
    @media (min-height: 500px) {
        float: none;
    }
}

a{
    color: @link-color;
    text-decoration: none;
    transition: all .8s ease;
    &:hover{
        color: @link-hover-color;
        text-decoration: none;

    }
}

p {
    a {
        border-bottom: 1px solid @default-accent;
        &:hover {
            // border-bottom: 1px solid @secondary-accent;
        }
    }
}

#wrapper {
    .clearfix();
}

/*-----[Left Side Content - Masthead Area]-----*/
#left {
    background-color: @secondary-background;
    
    z-index: 2;

    margin-top: 50px;

    //*-----[Responsive 768++]-----*/
    @media (min-width: @screen-tablet) {
        height: 100%;
        width: 20%;

        bottom: 0;
        left:0;
        position: absolute;
        right: 80%;
        top: 0;

        margin-top: 0px;
    }

    @media (min-width: @screen-tablet) and (min-height: 500px) {
        bottom: 0px;
        left:0px;
        position: fixed;
        right: 80%;
        top:0px;

        margin-top: 0px;
    }
    &.mastshown {
        left: -20%;
        right: 100%
    }
}

/*-----[Main Content Area]-----*/
#right {
    width: 100%;
    margin-left: 0px;
    z-index: 1;
    //*-----[Responsive 768++]-----*/
    @media (min-width: @screen-desktop) {
        width: 80%;
        margin-left: 20%;
    }
}

/*-----[Blue-ish Covered Content]-----*/
.cover.overlay {
    background-color: rgba(13,147,217,0.7);

    height: 100%;
    width: auto;
    &.lighter {
        background-color: rgba(13,147,217,0.3);
    }
    h1,
    h2,
    h3,
    h4,
    h5, 
    h6,
    .btn {
        color: lighten(@default-accent, 35%);
    }
    p,
    cite {
        color: @secondary-text;
    }
    blockquote {
        border-left-color: lighten(@default-accent, 30%);
    }
    .btn-cta {
        &:hover {
            color: @secondary-text;
        }
    }
}

/*-----[Global Container]-----*/
.container {
    &.full {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    &.post {
        padding-left: 0px;
        padding-right: 0px;
    }
}
