// -----------------------------------------------------------------
// * [Form Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

/* [Booststrap (Extended)]
------------------------------------------------------------------*/

/*-----[Form Control]-----*/
.form-control {
    font-family: @font-1; 
    font-size: @body-fz-sm;
    background-color: fade(@input-bg, 50%);
    border-radius: @base-radius;
    box-shadow: none;
}