// -----------------------------------------------------------------
// * [Images Styles]
// * 
// * @project Digboots Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi@aestik.com>
// * @author Pratama H. Salahudin <pratama@aestik.com>
// -----------------------------------------------------------------

/* [Custom Styles]
------------------------------------------------------------------*/
/*-----[Global Image]-----*/
img {
    margin-bottom: 20px;
}

/*-----[Image Post Styles - used in portfolio and gallery]-----*/
.image {
    .clearfix();
    background: @default-accent;

    position: relative;

    &.thumbnail {
        background-color: @default-accent;
        border: 0px;

        float: left;
        overflow: hidden;

        position: relative;

        padding: 0px;

        border-radius: 0px;
        backface-visibility: hidden;

        // .caption {
        //     background-color: @default-accent;
        //     display: block;

        //     bottom: 0;
        //     position: absolute;
        //     top: auto;

        //     height: 90px;
        //     width: 100%;

        //     padding: 20px;

        //     color: @secondary-text;
        //     line-height: @line-height-base;
        //     text-align: center; 

        //     //*-----[Responsive 600++]-----*/
        //     @media (min-width: @screen-tablet) {
        //         .absoluteCenter(absolute, 100%, 100%);

        //         background-color: fade(@default-accent, 80%);
        //         display: block;

        //         padding: 0px;

        //         color: @secondary-text;
        //         line-height: 340px;

        //         opacity: 0;
        //         transition: all ease 0.2s;
        //     }

        //     .separator {
        //         border-bottom: 1px solid @secondary-text;
        //         display: block;

        //         width: 100%;

        //         margin: 5px auto;

        //         box-sizing: border-box;

        //         //*-----[Responsive 600++]-----*/
        //         @media (min-width: @screen-tablet) {
        //             .absoluteCenter(absolute, 1px, 100%);
        //             border-bottom: 1px solid @secondary-text;
        //             display: block;

        //             top: 10%;
        //             transition: width ease 0.8s;
        //         }
        //     }

        //     .client {
        //         display: block;

        //         color: lighten(@default-accent, 30%);
        //         font-size: @body-fz-sm;
        //         //*-----[Responsive 600++]-----*/
        //         @media (min-width: @screen-tablet) {
        //             .absoluteCenter(absolute, 100%, 100%);
        //             display: block;

        //             top: 20%;

        //             transition: top ease-out 0.3s;
        //         }
        //     }
        // }
        // 

        img {
            display: block;
            height:auto;
            width: 100%;
            backface-visibility: hidden;
            transition: .5s all ease;
        }

        .caption {
            .absoluteCenter(absolute, 100%, 100%);

            background-color: fade(@default-accent, 80%);
            display: block;

            padding: 0px;

            color: @secondary-text;
            line-height: @line-height-base;

            opacity: 0;
            transition: all ease 1s;

            .title {
                .absoluteCenter(absolute, 20px, 100%);
                top: -200%;
                color: @secondary-text;

                opacity: 0;
                transition: .2s all ease;
            }

            .separator {
                border-bottom: 1px solid @secondary-text;
                display: block;

                .absoluteCenter(absolute, 1px, 100%);

                top: 0;
                opacity: 0;

                transition: all ease 0.5s;
            }
            .client {
                .absoluteCenter(absolute, 20px, 100%);
                top: 200%;

                color: lighten(@default-accent, 30%);
                font-size: @body-fz-sm;

                opacity: 0;
                transition: all ease 0.5s;
            }
        }

        &.one-half {
            height: 390px;
            width: 100%;

            //*-----[Responsive 600++]-----*/
            @media (min-width: @screen-lg-phone) {
                height: 340px;
                width: 50%;
            }

            //*-----[Responsive 768++]-----*/
            @media (min-width: @screen-tablet) {
                height: 340px;
                width: 50%;
            }
        }

        &.one-third {
            height: 240px;
            width: 50%;

            //*-----[Responsive 600++]-----*/
            @media (min-width: @screen-tablet) {
                height: 220px;
                width: 33.3%;
                &:nth-child(3n+1) {
                    width: 33.4%;
                }
            }
        }

        a { 
            &:hover {
                img {
                    transform: scale(1.2);
                }
                .caption{
                    opacity: 1;
                    .title {
                        top: -15%;
                        opacity: 1;
                    }
                    .separator {
                        width: 20px;
                        opacity: 1;
                    }
                    .client {
                        top: 15%;
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    header {
        margin-top: 30px;
        text-align: center;

        //*-----[Responsive 600++]-----*/
        @media (min-width: @screen-tablet) {
            .absoluteCenter(absolute, 50px, 50%);

            z-index: 1;

            opacity: 0.8;
        }
    }
}

/*-----[Featured Image]-----*/
.featured.image {
    background-color: transparent;
    width: 100%;
}

/*-----[Avatar]-----*/
.avatar {
    float: left;

    &.small {
        height: 40px;
        width: 40px;
        
        margin-bottom: 10px;
        margin-right: 20px;
    }
}