// -----------------------------------------------------------------
// * [Masthead Styles]
// * 
// * @project Digboots Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi@aestik.com>
// * @author Pratama H. Salahudin <pratama@aestik.com>
// -----------------------------------------------------------------

/* [Masthead]
 -
 * everything inside the left side container
============================================================*/
.masthead {
    background: #fff;

    height: auto;
    width: auto;

    margin: 0;

    //*-----[Responsive 768++]-----*/
    @media (min-width: @screen-tablet) {
        height: 100%;
    }

    .content {
        height: 100%;
        width: 80%;

        margin: 0 auto;
        padding: 50px 0;

        @media (min-width: @screen-lg-phone) {
            width: 70%;
        }
    }

    .logo {
        background-color: @secondary-text;
        margin-bottom: 30px;

        position: relative;

        text-align: center;
        transition: all ease 0.8s;

        //*-----[Responsive 768++]-----*/
        @media (min-width: @screen-tablet) {
            margin-bottom: 100px;

            text-align: left;
        }

        img {
            height: 30px;
            width: auto;

            margin-bottom: 0;
            transition: all ease 0.8s;
        }
    }

    p {
        margin-bottom: 30px;

        font-size: @body-fz-df;
        font-family: @font-1;
        line-height: @line-height-base;
        text-align: center;

        //*-----[Responsive 768++]-----*/
        @media (min-width: @screen-tablet) {
            margin-bottom: 50px;

            text-align: left;
        }
    }

    .lead {
        margin-bottom: 10px;

        font-family: @font-4;
        font-size: 30px;
        font-weight: 200;
        letter-spacing: -2.0px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;

        //*-----[Responsive 768++]-----*/
        @media (min-width: @screen-tablet) {
            margin-bottom: 20px;

            text-align: left;
        }

        strong {
            font-weight: 300;
        }

        @media (min-width: @screen-tablet) {
            font-size: @heading-1-fz;
            line-height: @heading-1-fz;
        }

        @media (min-width: @screen-desktop) {
            font-size: 60px;
            line-height: 50px;
        }

        @media (min-width: @screen-lg-desktop) {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 30px;
        }
    }
    
    .tagline {
        display: block;

        color: @muted-text-color;
        font-size: 10px;
    }

    .toggle {
        &.iconic {
            background-color: transparent;
            display: none;

            position: fixed;
            right: 80%;
            top: 0;

            margin-bottom: 0;
            margin-right: 20px;
            transition: all ease 0.8s; 
            //*-----[Responsive 600++]-----*/
            @media (min-width: @screen-lg-phone) {
                display: block;
            }
        }
    }
    .nav {
        border-top: 1px solid lighten(@muted-text-color, 30%);

        max-height: 134px;
        overflow: auto;

        padding: 20px 0;

        font-family: @font-4;
        font-size: @body-fz-us;
        font-weight: 700;
        letter-spacing: @ls-wd; 
        text-transform: uppercase;
        .item {
            display: block;
            border-bottom: 1px solid lighten(@muted-text-color, 40%);
        }
        a {
            color: @body-text-color;
            &:hover {
                color: @default-accent;
            }
        }

    }
}