// -----------------------------------------------------------------
// * [Navbar Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

/* [Booststrap (Extended)]
------------------------------------------------------------------*/

/*-----[Navbar]-----*/
.navbar {
    border-radius: 0px;

    transition: all .2s ease;
}

.navbar-default {
    background-color: @secondary-text;
    border: 0px;

    font-size: @body-fz-xs;
    font-weight: 700;
    text-transform: uppercase;

    .navbar-nav {
        > li {
            > a {
                transition: all .4s ease;
                &:hover,
                &:active,
                &:focus {
                    background-color: @secondary-text;
                    color: @default-accent;
                }
            }
        }
        > .active {
            > a {
                background-color: @secondary-text;
                color: @default-accent;
                &:hover,
                &:active,
                &:focus {
                    background-color: @secondary-text;
                    color: @default-accent;
                }
            }
        } 
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: @secondary-text;
                color: @default-accent;
            }
        }
    }
}

.navbar-collapse {
    width: 100%;

    margin: auto;
    padding: 0px;
}

/*-----[Dropdown Menu]-----*/
.dropdown-menu {
    padding: 0px;
    margin: 0px 0 20px; // override default ul
    font-size: @body-fz-us;
    background-color: @secondary-text;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    z-index: 5;
    transition: all .4s ease;
    > li > a {
        padding: 10px 20%;

        font-weight: 700;

        transition: all .5s ease;
        &:hover,
        &:focus {
            background-color: transparent;
            border-left: 1px solid lighten(@default-accent, 10%);
            color: @default-accent;
        }
    }
}

/*-----[Right Fixed Positioned Navbar]-----*/
.right.positioned {
    background-color: @secondary-text;

    height: 100%;

    position: fixed;
    overflow-y: auto;

    padding-bottom: 50px;
    padding-top: 50px;

    &.navbar {
        width: 15%;
        right: -15%;
    }

    &.cartbar {
        width: 20%;
        right: -20%;
    }

    &.navbar-default {
        .navbar-nav {
            > li {
                > a {
                    padding-left: 20%;
                    padding-right:10%;
                    &:hover,
                    &:active,
                    &:focus {
                        border-left: 1px solid @default-accent;
                    }
                }
            }
            > .active {
                > a {
                    border-left: 1px solid @default-accent;
                    &:hover,
                    &:active,
                    &:focus {
                        border-left: 1px solid @default-accent;
                    }
                }
            } 
            > .open > a {
                &,
                &:hover,
                &:focus {
                    border-left: 1px solid @default-accent;
                }
            }
        }
    }
}

.right.positioned .navbar-nav {
    float: none;
    > li {
        float: none;
    }
} 


/*-----[Dropdown Menu]-----*/
.right.positioned .dropdown-menu {
    position: relative;
    float: none;
    width: 100%;
}


/* [Custom Styles]
------------------------------------------------------------------*/
/*-----[Sticky Nav]-----*/
.sticky.nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

/*-----[Top Nav]-----*/
.top.nav {
    background-color: rgba(13,147,217,0.3);
    padding: 10px 20px;

    color: @secondary-text;
    font-size: @body-fz-us;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    vertical-align: middle;

    .item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
    }

    a {
        .inlineDisplay();

        margin-right: 20px;

        color: @secondary-text;
        &:last-child {
            margin-right: 0px;
        }
        &:hover {
            color: @default-accent;
        }
    }
    .iconic {
        position: relative;

        margin-bottom: 0px;

        line-height: 0px;

        img {
            margin-bottom: 0px; 
        }
        &:hover {
            opacity: 0.3;
        }
        &.active {
            opacity: 0.5;
        }
    }
    .badge {
        background-color: @secondary-accent;

        margin-left: 5px;

        font-size: @body-fz-us;
        vertical-align: top;

        border-radius: @base-radius;
    }
}

/*-----[Search Box]-----*/
.search {
    &.box {
        background-color: rgba(13,147,217,0.9);
        display: none;

        left: 20%;
        position: fixed;
        right: 0;
        z-index: 2;

        padding: 100px;

        color: @secondary-text;
    }
    form {
        .clearfix();
        position: relative;

        padding-right: 70px;
    }
    .searchinput {
        .placeholder(lighten(@default-accent, 20%));

        background-color: transparent;
        border: 0px;

        width: 100%;

        color: @secondary-text;
        font-family: @font-1;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        vertical-align: bottom;
        &:focus {
           outline: 0px;
           border-bottom: 1px solid lighten(@default-accent, 20%);
        }
    }
    .searchsubmit {
        background-color: transparent;
        border: 0px;

        height: 67px;
        width: 67px;

        position: absolute;
        right: 0;
        top: 0;

        text-align: center;
        vertical-align: middle;

        i {
            color: @secondary-text;
            font-size: 48px;
        }
    }
}

/*-----[Cart Content]-----*/
.cart {
    &.content {
        padding: 0px 15%;

        font-size: @body-fz-xs;
    }
}
