// -----------------------------------------------------------------
// * [Post Content Styles]
// * 
// * @project Digboots Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi@aestik.com>
// * @author Pratama H. Salahudin <pratama@aestik.com>
// -----------------------------------------------------------------

/* [Booststrap (Extended) - Breadcrumbs]
============================================================*/
.breadcrumb {
    background-color: transparent;

    padding: 0;
    margin-bottom: 30px;
    margin-top: 10px;

    font-size: @body-fz-sm;
    text-align: center;
    
    border-radius: 0;
    > li {
        display: inline-block;
        &+li:before {
            content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: @breadcrumb-color;
        }
    }
    > .active {
        color: @muted-text-color;
        a,
        a:hover,
        a:focus,
        a:visited,
        a:active, {
             color: @muted-text-color;
        }
    }
}

/* [Post Classes]
============================================================*/
.post {
    img {
        max-width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a {
            color: @heading-color;
            &:hover {
                color: lighten(@heading-color, 35%);
            }
        }
    }

    blockquote {
        background-color: fade(@secondary-text, 50%);
        margin-left: -50px;
        p {
            color: @heading-color;
            font-size: 20px;
            font-weight: 300;
            line-height: 36px;
        }
    }

    .avatar {
        margin-top: 5px;
    }

    &.date {
        .inlineDisplay();
        white-space: nowrap;
    }

    &.featured {
        text-align: center;
    }

    &.meta {
        margin-bottom: 20px;

        color: @muted-text-color;
        font-size: @body-fz-sm;
        a {
            font-weight: 700;
        }
    }

    &.author {
        &.descriptive {
            font-size: @body-fz-df;
            line-height: @line-height-med;
            p {
                margin-left: 60px;
            }
        }
    }
    &.taxonomy {
        i {
            float: left;

            width: 20px;
            margin-top: 10px;
        }
        .items {
            margin-left: 20px;
        }

        a {
            white-space: nowrap;
            &:after {
                content: ',';
            }
            &:last-child {
                &:after {
                    content: '';
                }
            }
        }
    }
    &.categories,
    &.tags {
        .clearfix();
    }

    &.comment {
        .clearfix();

        font-size: @body-fz-df;
        line-height: @line-height-med;

        p {
            margin-bottom: 10px;
        }

        .avatar {
            margin-top: 10px;
        }

        &.content {
            margin-left: 60px;
            padding: 0;
        }
        &.replied {
            margin-left: 60px;
        }
    }
    .caption {
        .inlineDisplay();

        margin-bottom: 20px;

        color: @muted-text-color;
        font-size: @body-fz-xs;
        font-style: italic;
    }
    &.format {
        border-right: 1px solid lighten(@muted-text-color, 30%);
        display: block;

        height: 50px;

        left: -60px;
        position: absolute;
        top: 0;

        padding-right: 20px;

        i {
            color: @muted-text-color;
            line-height: 50px;
        }
        &.centered {
            .clearfix();
            border-bottom: 1px solid @default-accent;
            border-right: 0;

            width: 30px;
            height: auto;

            left: auto;
            position: relative;
            top: auto;

            margin: 0 auto 30px;
            padding-bottom: 10px;
            padding-right: 0;
            i {
                display: block;
                font-size: 25px;
                line-height: 30px;
            }
        }
        &.blog.list {
            width: 20px;
            height: 20px;
            i {
                line-height: 0;
                display: block;
                font-size: 18px;
            }
        }
    }
}

/* [Comments]
============================================================*/
.comments {
    padding-bottom: 30px;
    padding-top: 30px;
}

/* [Article Small]
 - 
 * Smaller sizes article type
 * in term of line-height and font size
============================================================*/
article.small,
article .small {
    margin-bottom: 30px;

    font-size: @body-fz-md;
    line-height: @line-height-med;

    //*-----[Responsive 768++]-----*/
    @media (min-width: @screen-tablet) {
        // margin-bottom: 50px;
    }
    a.btn {
        margin-left: -10px;
    }
    p {
        margin-bottom: 20px;
    }
}

/* [Post Formats]
============================================================*/
/*-----[Post Format Link]-----*/
.format-link {
    .entry-content {
        a {
            display: block;
            margin-bottom: 30px;
            font-size: @body-fz-ul;
        }
    }
}

/*-----[Post Format aside]-----*/
.format-aside {
    .entry-content {
        background-color: fade(@secondary-text, 50%);
        border-left: 1px solid @default-accent;
        padding: 20px 20px 20px 50px;
        margin: 0 0 30px;
    }
}

/*-----[Post Format chat]-----*/
.format-chat {
    .entry-content {
        p {
            margin-bottom: 0;
            padding: 10px 20px;
            &:nth-child(odd) {
                background-color: fade(@secondary-text, 50%);
            }
            &:nth-child(even) {
                background-color: fade(@secondary-text, 30%);
            }
        }
    }
}

/* [Separator]
============================================================*/
.separator {
    clear: both;
    border-bottom: 3px solid @muted-text-color;
    display: block;

    height: 3px;
    width: 30px;

    margin: 30px 0;
    &.centered {
        margin: 30px auto;
    }
    &.in-post {
        border-bottom: 1px solid @default-accent;
        height: 1px;
    }
}

.separator-2 {
    background: url('../images/separator.png') center center no-repeat;

    height: 50px;
    width: 100px;
    margin: 30px auto;
}