// -----------------------------------------------------------------
// * [Text & Typography Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

/* [Booststrap (Extended)]
------------------------------------------------------------------*/
/*-----[Headings]-----*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: @heading-color;
    font-family: @font-4;

    transform: translate3d(0, 0, 0);
    transition: all .8s ease;
    a {
        border-bottom: 0px;
    }
}

/*-----[Heading 1 and all h1-h6 faetured-type headings]-----*/
h1,
.featured.title {
    font-size: @heading-1-fz/1.5;
    letter-spacing: @ls-xn;
    //*-----[Responsive 768++]-----*/
    @media (min-width: @screen-tablet) {
        margin-bottom: 50px;

        font-size: @heading-1-fz;
    }
}
h2 {
    font-size: @heading-2-fz/1.5;
    letter-spacing: @ls-nr;
    //*-----[Responsive 768++]-----*/
    @media (min-width: @screen-tablet) {
        font-size: @heading-2-fz;
    }
}

h1,
h2 {
    margin-top: 0px;
    margin-bottom: 30px;

    font-weight: 200;
}

h3 {
    font-size: @heading-3-fz;
    font-weight: 300;
    letter-spacing: @ls-nm;

    margin-bottom: 20px;
}
h4 {
    font-size: @heading-4-fz;
    font-weight: 500;
    letter-spacing: @ls-nm;
}

h5 {
    font-size: @heading-5-fz;
    font-weight: 700;
    letter-spacing: @ls-nm;
}
h6 {
    font-size: @heading-6-fz;
    font-weight: 500;
    letter-spacing: @ls-nm;
    text-transform: uppercase;
}

/*-----[Blockquote]-----*/
blockquote {
    border-left: 1px solid @default-accent;
    padding: 20px 20px 20px 50px;
    margin: 0 0 30px;
    p {
        .quotes(@default-text, @default-text, @font-3, @font-1, @heading-3-fz, @body-fz-df, 48px, @line-height-base, @body-fz-us, italic);
        font-weight: 100;
    }
}

/*-----[Paragraph]-----*/
p {
    margin-bottom: 30px;
}

/*-----[Lead Paragraph]-----*/
.lead {
    font-family: @font-4;
    font-size: 24px;
    line-height: 42px;
    strong {
        font-weight: 500;
    }
}

/* [Custom Styles]
------------------------------------------------------------------*/
hgroup {
    position: relative;
}
/*-----[Section Heading]-----*/
.section.heading {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;

    font-family: @font-4;
    font-size: @body-fz-xs;
    font-weight: 700; 
    letter-spacing: 10px;
    line-height: @line-height-med;
    text-transform: uppercase;
    text-align: center;

    //*-----[Responsive 768++]-----*/
    @media (min-width: @screen-tablet) {
        margin-bottom: 50px;
    }
    &.left-aligned {
        margin-left: 0px;
        text-align: left;
    }
    &.narrow {
        width: 100%;
        margin-bottom: 20px;
        //*-----[Responsive 768++]-----*/
        @media (min-width: @screen-tablet) {
            margin-bottom: 30px;
        }
    }
}

/*-----[Images Post Title - used in portfolio and gallery]-----*/
.image.post.title {
    background-color: transparent;

    color: @secondary-text;
    font-size: 48px;
    a {
        color: @secondary-text;
        &:hover {
            color: @default-accent;
        }
    }
}

/*-----[Related Content Title and Meta Title]-----*/
.related.title {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: @line-height-med;
    letter-spacing: 0px;
}

.blog.list.title {
    margin-bottom: 20px;

    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0px;
}

/*-----[Comment Title, mainly used for commentor name]-----*/
.comment.title {
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
}

/*-----[Helpers]-----*/
.centered {
    text-align: center;
}

.left-aligned {
    text-align: left;
}

.heading.inverted {
    color: @secondary-text;
}

.allcaps {
    text-transform: uppercase;
}