//- 
    =====================================================================
    * Master Layout 
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================
    
doctype
html(lang='en')
    
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        block title

        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
        meta(name='description', content='DigBoots Business Bootstrap Theme')
        meta(name='author', content='')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ FONTS ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        link(href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Voltaire", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900", rel="stylesheet")
        

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ BOOTSTRAP STYLES ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        link(href='assets/css/bootstrap.css', rel='stylesheet')
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ FONTAWESOME ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css', rel="stylesheet")

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ FLEXSLIDER ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        link(href='assets/css/flexslider.css', rel='stylesheet')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ DIGBOOTS STYLES ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        link(href='style.css', rel='stylesheet')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ IE SCRIPTS ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        //if lt IE 9
            script(src='assets/js/vendor/html5shiv.js')
            script(src='assets/js/vendor/respond.min.js')
    body
        //- block page
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ NAVIGATION ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        .top
        
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ TOP STICKY NAV ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            nav.top.sticky.nav
                a(href='', data-content='search', data-toggle='tooltip', data-placement="bottom", title='Search').toggle.search.iconic
                    img(src='assets/images/search.png', alt='nav')
                //- a(href='', data-content='menu', data-toggle='tooltip', data-placement="bottom", title='Menu').toggle.nav.iconic
                    img(src='assets/images/nav.png', alt='nav')
            nav.innernav.light.main-nav.sticky.centered.scroll-to
                ul
                    li
                        a(href="#home") Home
                    li 
                        a(href="#about") About
                    li 
                        a(href="#services") Services
                    li 
                        a(href="#works") Works
                    li 
                        a(href="#team") Team
                    li 
                        a(href="#clients") Clients 
                    li 
                        a(href="#contact") Contact 

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // [ COLLAPSIBLE SEARCH BOX ]
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            .search.box
                form(action='', method='', role='form')
                    label.sr-only(for='#searchinput') Email address
                    input#searchinput.searchinput(type='search', placeholder='Type Query Here...')
                    button(type='submit').searchsubmit
                        i.fa.fa-search

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ LEAD AND LOGO ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        //- include ../inc/masthead
        header#left.left
            .masthead
                .content
                    h1.sr-only Digboots
                    .logo
                        a(href="")
                            img(src="dummy-images/logo.png", alt="")
                        //- span.tagline
                            | Boostrap Digital Company
                    p.lead Clarity, Simplicity and Curiousity.
                    p 
                        | We define every job as <strong>clarity</strong>, <strong>simplicity</strong>&nbsp;and <strong>curiousity</strong>.
                    section.panel.panel-default.widget.widget_social
                        header.panel-heading
                            h3.widget.heading Connect With Us
                        .panel-body
                            .social.icons
                                a.social.icon(href='')
                                    .diamond.icon
                                        i.fa.fa-facebook
                                a.social.icon(href='')
                                    .diamond.icon    
                                        i.fa.fa-twitter
                                a.social.icon(href='')
                                    .diamond.icon
                                        i.fa.fa-google-plus
                                a.social.icon(href='')
                                    .diamond.icon
                                        i.fa.fa-linkedin
                                a.social.icon(href='')
                                    .diamond.icon
                                        i.fa.fa-github
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ MAIN CONTENT ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        main#right(role="main").right

            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            //- [ CONTENT LOADED HERE ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            block content
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            //- [ /ENDED HERE ]
            //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // FOOTER
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            //- include ../inc/footer
            footer.content.bottom.centered.shrunk-down.shrunk-up
                .watermark
                    | Copyright <strong>DigBoots</strong>&nbsp;&copy; 2013.
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ JQUERY ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/vendor/jquery-1.10.1.min.js')
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ JQUERY EASING ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/vendor/jquery.easing.js')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ BOOTSTRAP SCRIPT ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/vendor/bootstrap.js')
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ RETINA JS ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/vendor/retina.min.js')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ FITVIDS JS ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/vendor/jquery.fitvids.js')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ FLEXSLIDER ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/vendor/jquery.flexslider-min.js')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ SMOOTHSCROLL ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/vendor/jquery.smooth-scroll.min.js')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ JQUERY APPEAR ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/vendor/jquery.appear.js')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ GOOGLE MAP ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ DIGBOOTS SCRIPT ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src='assets/js/script.js')

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        //- [ LIVERELOAD - removed when build ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        script(src="http://localhost:35729/livereload.js")
