//- 
    =====================================================================
    * widget-rss
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        a(href="http://") 
            i.fa.fa-rss.icon-widget-heading
        h3.widget.heading 
            a(href="http://") RSS
    .panel-body
        ul
            li
                a(href="http://", target="_blank") Home Page and Front Page Templates
                span.rss-date January 1st, 2013
                .rssSummary
                    | Chip Bennett, Team Rep and Administrator of the WordPress Theme Review Team, wrote a comprehensive post about the intricacy around home ...
                cite John William Doe
            li
                a(href="http://", target="_blank") Chip Bennett, Team Rep
                span.rss-date January 1st, 2013
                .rssSummary
                    | Chip Bennett, Team Rep and Administrator of the WordPress Theme Review Team, wrote a comprehensive post about the intricacy around home ...
                cite John William Doe
            li
                a(href="http://", target="_blank") Administrator of the WordPress Theme Review Team
                span.rss-date January 1st, 2013
                .rssSummary
                    | Chip Bennett, Team Rep and Administrator of the WordPress Theme Review Team, wrote a comprehensive post about the intricacy around home ...
                cite John William Doe
            li
                a(href="http://", target="_blank") The intricacy around home
                span.rss-date January 1st, 2013
                .rssSummary
                    | Chip Bennett, Team Rep and Administrator of the WordPress Theme Review Team, wrote a comprehensive post about the intricacy around home ...
                cite John William Doe
            li
                a(href="http://", target="_blank") WordPress Theme Review
                span.rss-date January 1st, 2013
                .rssSummary
                    | Chip Bennett, Team Rep and Administrator of the WordPress Theme Review Team, wrote a comprehensive post about the intricacy around home ...
                cite John William Doe