//- 
    =====================================================================
    * widget-text
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget.widget_text
    header.panel-heading
        i.fa.fa-file-text-o.icon-widget-heading
        h3.widget.heading text
    .panel-body.textwidget
        p
            strong Large image: linked in a caption
            br
        .wp-caption.alignnone
            a(href="")
                img(src="dummy-images/widget/porto3.jpg", alt="")
            p.wp-caption-text
                | This image is 960 by 720 pixels.
        p 
            strong Text
            br
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
            br
            br
            strong Select element with long value
        form(id="", method="", action="")
            select
                option
                    | Select element with long value value value long value value value