//- 
    =====================================================================
    * widget-categories-dropdown
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget.widget_nav_menu
    header.panel-heading
        i.fa.fa-external-link.icon-widget-heading
        h3.widget.heading Link
    .panel-body
        ul
            li
                a(href='#') 
                    i.fa.fa-circle-o
                    | Web Design
            li
                a(href='#') 
                    i.fa.fa-circle-o
                    | Development
                ul.children 
                    li 
                        a(href='#') 
                            i.fa.fa-circle-o
                            | Web Development
                    li 
                        a(href='#') 
                            i.fa.fa-circle-o
                            | App Development
            li
                a(href='#') 
                    i.fa.fa-circle-o
                    | Technology
            li
                a(href='#') 
                    i.fa.fa-circle-o
                    | Science &amp; Fiction