//- 
    =====================================================================
    * widget-popular-post
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        i.fa.fa-pencil.icon-widget-heading
        h3.widget.heading Popular Post
    .panel-body
        ul  
            li
                article.widget-post
                    img(src="dummy-images/widget/porto3-thumb.jpg", alt="")
                    .widget-post-content
                        a(href="http://", target="_blank") Veggies sunt bona vobis, proinde vos postulo
                        span.post-date January 1st, 2013
            li
                article.widget-post
                    img(src="dummy-images/widget/porto3-thumb.jpg", alt="")
                    .widget-post-content
                        a(href="http://", target="_blank") Turnip greens napa cabbage
                        span.post-date January 1st, 2013
            li
                article.widget-post
                    img(src="dummy-images/widget/porto3-thumb.jpg", alt="")
                    .widget-post-content
                        a(href="http://", target="_blank") Tomato summer purslane beetroot
                        span.post-date January 1st, 2013
            li
                article.widget-post
                    img(src="dummy-images/widget/porto3-thumb.jpg", alt="")
                    .widget-post-content
                        a(href="http://", target="_blank") Prairie turnip dulse winter purslane napa
                        span.post-date January 1st, 2013
            li
                article.widget-post
                    img(src="dummy-images/widget/porto3-thumb.jpg", alt="")
                    .widget-post-content
                        a(href="http://", target="_blank") Soybean broccoli maize lotus root
                        span.post-date January 1st, 2013