//- 
    =====================================================================
    * widget-about
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        i.fa.fa-info.icon-widget-heading
        h3.widget.heading About Us
    .panel-body
        p
            | Suave is a Minimalist Business Theme for Bootstrap.
            | Built with simplicity and flexibility in mind.
            | Perfect for various business needs.
        address
            strong Twitter, Inc.
            br
            | 795 Folsom Ave, Suite 600
            br
            | San Francisco, CA 94107
            br
            abbr(title='Phone') Ph:
            a(href='tel:123-4567890') 123-4567890
        address
            strong Full Name
            br
            a(href='mailto:#') first.last@example.com