//- 
    =====================================================================
    * widget-categories-dropdown
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget.widget_nav_menu
    header.panel-heading
        i.fa.fa-link.icon-widget-heading
        h3.widget.heading Link
    .panel-body
        ul
            li
                a(href='#') Web Design
            li
                a(href='#') Technology
            li
                a(href='#') Science &amp; Fiction
            li
                a(href='#') Development
            li 
                a(href='#') Web Development
            li 
                a(href='#') App Development