//- 
    =====================================================================
    * widget-meta
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget.widget_meta
    header.panel-heading
        i.fa.fa-circle-o.icon-widget-heading
        h3.widget.heading Meta
    .panel-body
        ul
            li
                a(href='#') Log in
            li
                a(href='#') Entries RSS
            li
                a(href='#') Comments RSS
            li
                a(href='#') WordPress.org