//- 
    =====================================================================
    * widget-archive
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget.widget_archive
    header.panel-heading
        i.fa.fa-folder-open-o.icon-widget-heading
        h3.widget.heading Archive
    .panel-body
        ul
            li
                a(href='#') January 2013 
                span.count 5
            li
                a(href='#') February 2012
                span.count 5
            li
                a(href='#') March 2013 
                span.count 5
            li
                a(href='#') April 2013 
                span.count 5
            li
                a(href='#') May 2013 
                span.count 5