//- 
    =====================================================================
    * widget-recent-comments
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        i.fa.fa-comment-o.icon-widget-heading
        h3.widget.heading Recent Comments
    .panel-body
        ul
            li 
                | John Doe on 
                a(href="http://", target="_blank") Veggies sunt bona vobis, proinde vos postulo
            li 
                | John Doe on 
                a(href="http://", target="_blank") Veggies sunt bona vobis, proinde vos postulo
            li 
                | John Doe on 
                a(href="http://", target="_blank") Veggies sunt bona vobis, proinde vos postulo
            li 
                | John Doe on 
                a(href="http://", target="_blank") Veggies sunt bona vobis, proinde vos postulo
            li 
                | John Doe on 
                a(href="http://", target="_blank") Veggies sunt bona vobis, proinde vos postulo