//- 
    =====================================================================
    * widget-search
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        i.fa.fa-search.icon-widget-heading
        h3.widget.heading Search
    .panel-body
        form(id="", method="", action="", role="form")
            .form-group
                label.sr-only(for="search-query") Search
                input.form-control.input-sm(type="text", id="search-query", placeholder="search")
            button.btn.btn-primary.btn-sm.btn-search(type="submit") Search