//- 
    =====================================================================
    * widget-archive-dropdown
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        i.fa.fa-folder-o.icon-widget-heading
        h3.widget.heading Archive Dropdown
    .panel-body
        select(name="archive-dropdown")
            option(value="") Select Month
            option(value="") January 2013 (5)
            option(value="") February 2013 (5)
            option(value="") March 2013 (5)
            option(value="") April 2013 (5)
            option(value="") May 2013 (5)