//- 
    =====================================================================
    * widget-pages
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget.widget_pages
    header.panel-heading
        i.fa.fa-file-o.icon-widget-heading
        h3.widget.heading Pages
    .panel-body
        ul
            li
                a(href='#') Blog
            li
                a(href='#') Cart
            li
                a(href='#') Checkout
            li
                a(href='#') Front Page
            li 
                a(href='#') My Account