//- 
    =====================================================================
    * widget-categories-dropdown
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        i.fa.fa-folder-o.icon-widget-heading
        h3.widget.heading Categories Dropdown
    .panel-body
        select(name="archive-dropdown")
            option(value="") Select Categories
            option(value="") Augmented Reality
            option(value="") Interface Design
            option(value="") Artificial Intelligent
            option(value="") Development
            option(value="") Science &amp; Fiction