//- 
    =====================================================================
    * widget-tags
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        i.fa.fa-tag.icon-widget-heading
        h3.widget.heading Tags
    .panel-body
        a(href="", target="_blank").btn.btn-xs.btn-primary html
        a(href="", target="_blank").btn.btn-xs.btn-primary css
        a(href="", target="_blank").btn.btn-xs.btn-primary javascript
        a(href="", target="_blank").btn.btn-xs.btn-primary WordPress
        a(href="", target="_blank").btn.btn-xs.btn-primary PHP
        a(href="", target="_blank").btn.btn-xs.btn-primary nodejs
        a(href="", target="_blank").btn.btn-xs.btn-primary JAVA
        a(href="", target="_blank").btn.btn-xs.btn-primary pearl
        a(href="", target="_blank").btn.btn-xs.btn-primary Python
        a(href="", target="_blank").btn.btn-xs.btn-primary web design
        a(href="", target="_blank").btn.btn-xs.btn-primary web development
        a(href="", target="_blank").btn.btn-xs.btn-primary ui/ux design
        a(href="", target="_blank").btn.btn-xs.btn-primary mobile app development