//- 
    =====================================================================
    * widget-categories
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget.widget_categories
    header.panel-heading
        i.fa.fa-list.icon-widget-heading
        h3.widget.heading Categories
    .panel-body
        ul
            li
                a(href='#') 
                    i.fa.fa-desktop
                    | Web Design
                span.count 5
            li
                a(href='#') 
                    i.fa.fa-circle-o
                    | Technology
            li
                a(href='#') 
                    i.fa.fa-circle-o
                    | Science &amp; Fiction
            li
                a(href='#') 
                    i.fa.fa-paste
                    | Development
            li 
                a(href='#') 
                    i.fa.fa-angle-double-up
                    | Web Development
            li 
                a(href='#') 
                    i.fa.fa-html5
                    | App Development
            li
                a(href='#') 
                    i.fa.fa-file-text-o
                    | Augmented Reality
            li
                a(href='#') 
                    i.fa.fa-circle-o
                    | Interface Design
            li
                a(href='#') 
                    i.fa.fa-circle-o
                    | Artificial Intelligent