//- 
    =====================================================================
    * widget-recent-post
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

section.panel.panel-default.widget
    header.panel-heading
        i.fa.fa-pencil.icon-widget-heading
        h3.widget.heading Recent Posts
    .panel-body
        ul
            li
                a(href="http://", target="_blank") Veggies sunt bona vobis, proinde vos postulo
                span.post-date January 1st, 2013

            li
                a(href="http://", target="_blank") Veggies sunt bona vobis, proinde vos postulo
                span.post-date February 1st, 2013
            li
                a(href="http://", target="_blank") Turnip greens napa cabbage
                span.post-date March 1st, 2013
            li
                a(href="http://", target="_blank") Tomato summer purslane beetroot
                span.post-date April 1st, 2013
            li
                a(href="http://", target="_blank") Prairie turnip dulse winter purslane napa
                span.post-date May 1st, 2013
            li
                a(href="http://", target="_blank") Soybean broccoli maize lotus root
                span.post-date June 1st, 2013