include ../mixins/widget
//- 
    =====================================================================
    * Collapsible Contents Partials
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// [ COLLAPSIBLE NAVBAR ]
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
nav.right.positioned.navbar.navbar-default(role="navigation")
    .collapse.navbar-collapse
        ul.nav.navbar-nav
            li.dropdown
                a.dropdown-toggle(href='index.html', data-toggle='dropdown', role="button") Home Pages
                    i.icon-angle-down
                ul.dropdown-menu(role="menu")
                    li(role="presentation")
                        a(href='index.html', role="menuitem") Home Page 1
                    li(role="presentation")
                        a(href='index.html', role="menuitem") Home Page 2
                    li.divider(role="presentation")
                    li
                        a(href='index.html', role="menuitem") Home Page 3
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role="button") Sample Pages
                    i.icon-angle-down
                ul.dropdown-menu(role="menu")
                    li(role="presentation")
                        a(href='company.html', role="menuitem") Company
                    li(role="presentation")
                        a(href='about.html', role="menuitem") About Us
                    li(role="presentation")
                        a(href='services.html', role="menuitem") Services
                    li(role="presentation")
                        a(href='team.html', role="menuitem") Our Team
                    li(role="presentation")
                        a(href='faq.html', role="menuitem") FAQ
                    li(role="presentation")
                        a(href='coming-soon.html', role="menuitem") Coming Soon Page
                    li(role="presentation")
                        a(href='404.html', role="menuitem") Error 404
                    li(role="presentation")
                        a(href='graph.html', role="menuitem") Vacancy
                    li(role="presentation")
                        a(href='pricing.html', role="menuitem") Pricing Tables
            li 
                a.dropdown-toggle(href='portfolio.html', data-toggle='dropdown', role="button") Portfolio
                    i.icon-angle-down
                ul.dropdown-menu(role="menu")
                    li(role="presentation")
                        a(href='portfolio-i.html', role="menuitem") Portfolio One
                    li(role="presentation")
                        a(href='portfolio-ii.html', role="menuitem") Portfolio Two
                    li(role="presentation")
                        a(href='single-porto.html', role="menuitem") Single Portfolio One
            li 
                a.dropdown-toggle(href='#', data-toggle='dropdown', role="button") Blog
                    i.icon-angle-down
                ul.dropdown-menu(role="menu")
                    li(role="presentation")
                        a(href='blog.html', role="menuitem") Blog
                    li(role="presentation")
                        a(href='single.html', role="menuitem") Single Blog
            li 
                a(href='shortcodes.html') Shortcodes
            li 
                a(href='contact.html') Contact

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// [ COLLAPSIBLE SEARCH BOX ]
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.search.box
    form(action='', method='', role='form')
        label.sr-only(for='#searchinput') Email address
        input#searchinput.searchinput(type='search', placeholder='Type Query Here...')
        button(type='submit').searchsubmit
            i.fa.fa-search

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// [ COLLAPSIBLE CART ]
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
aside.right.positioned.cartbar
    .cart.content 
    
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ WIDGET SHOPPING CART ]
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        +widget-woo-cart()
    