//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends master

//- content
block page
    // LEAD and LOGO
    include masthead
    
    // MAIN CONTENT       
    main#right(role="main")
        block content

    // FOOTER
    include footer
