//- 
    =====================================================================
    * Content Container
    * Extends Master
    * Extended by Content Page. i.e. Index page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends master

//- content
block page
    // NAVIGATION
    include nav

    // LEAD and LOGO
    include masthead
    
    // MAIN CONTENT       
    main#right(role="main")
        block content

    // FOOTER
    include footer
