include ../mixins/widget
//- 
    =====================================================================
    * Footer Widget
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

aside.content.shrunk-up.shrunk-down.covered
    .footer.widget.wide
        .row
            .col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12

                // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ WIDGET ABOUT ]
                // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                +widget-about()

            .col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12

                // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ WIDGET NAV ]
                // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                +widget-link()

            .col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
                
                // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // [ WIDGET NEWSLETTER ]       
                // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                +widget-newsletter()