//- 
    =====================================================================
    * Footer Partial
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

footer.content.bottom.centered.shrunk-down.shrunk-up
    .watermark
        | Copyright <strong>DigBoots</strong>&nbsp;&copy; 2013. 
