//- 
    =====================================================================
    * Footer Partial
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

footer.content.bottom.centered.shrunk-down.shrunk-up
    .social.icons
        a.social.icon(href='')
            i.fa.fa-facebook.fa-lg
        a.social.icon(href='')
            i.fa.fa-twitter.fa-lg
    .watermark
        | Copyright <strong>DigBoots</strong>&nbsp;&copy; 2013. 
