section#left
    .masthead
        .content
            //- a(href='').toggle.masthead.iconic
                i.fa.fa-angle-left
            header
                a(href="")
                    img(src="dummy-images/logo.png", alt="")
                //- span.tagline
                    | Boostrap Digital Company
            p.lead Clarity, Simplicity and Curiousity.
            p 
                | We define every job as <strong>clarity</strong>, <strong>simplicity</strong>&nbsp;and <strong>curiousity</strong>.