//- 
    =====================================================================
    * Masthead Left Partial
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

header#left
    .masthead
        .content
            h1.sr-only Digboots
            .logo
                a(href="")
                    img(src="dummy-images/logo.png", alt="")
                //- span.tagline
                    | Boostrap Digital Company
            p.lead Clarity, Simplicity and Curiousity.
            p 
                | We define every job as <strong>clarity</strong>, <strong>simplicity</strong>&nbsp;and <strong>curiousity</strong>.
            section.panel.panel-default.widget.widget_social
                header.panel-heading
                    h3.widget.heading Connect With Us
                .panel-body
                    .social.icons
                        a.social.icon(href='')
                            .diamond.icon
                                i.fa.fa-facebook
                        a.social.icon(href='')
                            .diamond.icon    
                                i.fa.fa-twitter
                        a.social.icon(href='')
                            .diamond.icon
                                i.fa.fa-google-plus
                        a.social.icon(href='')
                            .diamond.icon
                                i.fa.fa-linkedin
                        a.social.icon(href='')
                            .diamond.icon
                                i.fa.fa-github
