//- 
    =====================================================================
    * Masthead Left Partial
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

header#left
    .masthead
        .content
            //- a(href='').toggle.masthead.iconic
                i.fa.fa-angle-left
            h1.sr-only Digboots
            .logo
                a(href="")
                    img(src="dummy-images/logo.png", alt="")
                //- span.tagline
                    | Boostrap Digital Company
            p.lead Clarity, Simplicity and Curiousity.
            p 
                | We define every job as <strong>clarity</strong>, <strong>simplicity</strong>&nbsp;and <strong>curiousity</strong>.
            .nav
                span.item My account
                a.item(href='') Sign in
                a.item(href='') Sign up
