//- 
    =====================================================================
    * Navigation Partials
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

.top.container
    
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // [ TOP STICKY NAV ]
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    .top.sticky.nav
        a(href='', data-content='search', data-toggle='tooltip', data-placement="bottom", title='Toggle Search').toggle.search.iconic
            img(src='assets/images/search.png', alt='nav')
        a(href='', data-content='cartbar', data-toggle='tooltip', data-placement="bottom", title='Toggle Shopping Cart').toggle.cart.iconic
            img(src='assets/images/cart.png', alt='nav')
            span.badge 12
        a(href='', data-content='sidebar', data-toggle='tooltip', data-placement="bottom", title='Toggle Sidebar').toggle.widget.iconic
            img(src='assets/images/sidebar.png', alt='nav')
        a(href='', data-content='menu', data-toggle='tooltip', data-placement="bottom", title='Toggle Menu').toggle.nav.iconic
            img(src='assets/images/nav.png', alt='nav')

    include collapsible-content