//- 
    =====================================================================
    * Related Post
    * 
    * @author Pratama H. Salahudin <pratama@aestik.com>
    =====================================================================

aside
    h2.section.heading.narrow.left-aligned Related Posts
    .row

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ RELATED/OTHER POSTS ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
            h3.related.title 
                a(href='')
                    | European minnow priapumfish
            .post.meta
                span.post.date
                    | 12 January 2013

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ RELATED/OTHER POSTS ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
            h3.related.title 
                a(href='')
                    | Mosshead warbonnet shrimpfish bigscale.
            .post.meta
                span.post.date
                    | 12 January 2013

        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // [ RELATED/OTHER POSTS ITEM ]
        //-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        article.small.col-ul-4.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
            h3.related.title 
                a(href='')
                    | Climb leg rub face on everything.
            .post.meta
                span.post.date
                    | 12 January 2013